@import "tailwindcss";
@tailwind utilities;

@plugin "daisyui" {
  themes: all;
}
@plugin "@tailwindcss/typography";

@source inline('opacity-{{0..100..5}}');

@layer base {
  body {
    @apply bg-base-300 min-h-screen;
    margin: 0;
  }
}

@utility foreground {
  background-color: var(--color-base-100);
  color: var(--color-base-content);
  @apply shadow-md;
}

@utility neutral {
  @apply bg-neutral;
  color: var(--color-neutral-content);
}

@utility small-heading {
  @apply text-xs opacity-60 tracking-wide;
}

.btn {
  @apply border-0;
}

.toggle {
  @apply checked:toggle-primary
}

.textarea {
  @apply rounded-box;
}

.fab>button:not(.btn-secondary) {
  @apply btn-primary;
}

.fab {
  margin-bottom: env(safe-area-inset-bottom)
}